<!DOCTYPE html>
<html>
<head>
  <title>My Website - Contact</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='asset/logo.png') }}" alt="Logo">
    <h1>ICT Academy</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact" class="active">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>Contact Page</h2>
    <p>This is the contact page of my website.</p>

    <div class="card">
      <h3>Contact Form</h3>
      <form>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
          <label for="message">Message:</label>
          <textarea id="message" name="message" required></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </main>

  <footer>
    <p>&copy; <a href="https://vimalprakash404.github.io/">vimalprakash</a></p>
  </footer>
</body>
</html>
