<!DOCTYPE html>
<html>
<head>
  <title>My Website - Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='asset/logo.png') }}" alt="Logo">
    <h1>ICT Academy</h1>
    <nav>
      <ul>
        <li><a href="/dashboard" class="active">Home</a></li>
        <li><a href="/add_employee" >Add Staff</a></li>
        <li><a href="/search">search</a></li>
        <li><a href="/">logout</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>Dasboard</h2>
    <h3>Staff</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee[0] }}</td>
          <td>{{ employee[1] }}</td>
          <td>{{ employee[2] }}</td>
          <td>{{ employee[3] }}</td>
          <td><a href="/edit_employee/{{ employee[0] }}" class="abutton">edit</a> <a href="/delete_employee/{{ employee[0] }}" class="abutton">delect</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>

  <footer>
    <p>&copy; <a href="https://vimalprakash404.github.io/">vimalprakash</a></p>
  </footer>
</body>


