<!DOCTYPE html>
<html>
<head>
  <title>My Website - Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='asset/logo.png') }}" alt="Logo">
    <h1>ICT Academy</h1>
    <nav>
      <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="card">
      
    <h3>Login</h3>
    <form action="/login" method="POST">
      {% if error_message %}
        <p class="error">{{ error_message }}</p>  <!-- Display the error message if it exists -->
      {% endif %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
 
    </div>
  </main>

  <footer>
    <p>&copy; <a href="https://vimalprakash404.github.io/">vimalprakash</a></p>
  </footer>
</body>
</html>
