<!DOCTYPE html>
<html>
<head>
  <title>My Website - Employee Search</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='asset/logo.png') }}" alt="Logo">
    <h1>ICT Academy</h1>
    <nav>
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/add_employee">Add Staff</a></li>
        <li><a href="/search" class="active">search staff</a></li>
        <li><a href="/">logout</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>Employee Search</h2>


    <div class="card">
      
  <form action="{{ url_for('search') }}" method="POST">
    <div class="form-group">
      <label for="search_query">Search Query</label>
      <input type="text" id="search_query" name="search_query" required>
    </div>
    <div class="form-group">
      <label for="search_type">Search Type</label>
      <select id="search_type" name="search_type" required>
        <option value="name">Name</option>
        <option value="department">Department</option>
        <option value="salary">Salary</option>
      </select>
    </div>
    <button type="submit">Search</button>
  </form>
    </div>
  </main>

  <footer>
    <p>&copy; <a href="https://vimalprakash404.github.io/">vimalprakash</a></p>
  </footer>
</body>
</html>

